.DS_Store
**/*.swp
*.class

.gradle/
build/
classes/
out/
dist/
mapping/
run/
logs/
notes/
.worktrees/

.idea/
*.iml
*.ipr
*.iws
.vscode/launch.json

.classpath
.project
.settings/
bin/
*/bin/
baritone_Client.launch
